{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle me-2 text-success"></i>
            <div class="text-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-x-circle me-2 text-danger"></i>
            <div class="text-danger">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="d-flex flex-column w-100 mb-5">
		<h5 class="fw-normal mb-3">
			Liste des Opérations Libres
		</h5>
		<div class="table-responsive rounded-custom bg-white shadow-custom text-center">
			<table class="table table-hover table-borderless text-dark">
				<thead >
					<tr>
						<th scope="col" style="width: 54px;">Id</th>
						<th scope="col">Libelle</th>
						<th scope="col">Description</th>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Statut d'operation</th>
						<th scope="col" style="width: 90px;">Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for operation in operations|filter(operation => operation.statutOperation == 'Libre') %}

					<tr class="align-middle">
						<td scope="row">#{{ operation.id }}</td>
                        <td>{{ operation.libelle }}</td>
						<td>{{ operation.description }}</td>                            
                        <td>{{ operation.utilisateur }}</td>
                        <td>{{ operation.statutOperation }}</td>
						<td class="d-flex flex-row justify-content-evenly w-100">
                            <a href="{{ path('operation_show', {'id': operation.id}) }}"><i class="bi bi-eye"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('operation_edit', {'id': operation.id}) }}"><i class="bi bi-pen"></i></a>
                            {% endif %}
                        </td>
					</tr>
                {% else %}
                <tr>
                    <td colspan="6">Pas d'opération libre</td>
                </tr>

                {% endfor %}

                {% if is_granted('ROLE_ADMIN') %}
                <tr>
                    <td colspan="6"><a type="button" class="btn btn-secondary text-light" href="{{ path('operation_new') }}">Ajouter Une opération</a></td>
                </tr>
                
                {% endif %}
				</tbody>
			</table>
		</div>
	</div>


    <div class="d-flex flex-column w-100 mb-5">
		<h5 class="fw-normal mb-3">
			Liste des opérations En Cours
		</h5>
		<div class="table-responsive rounded-custom bg-white shadow-custom text-center">
			<table class="table table-hover table-borderless text-dark">
				<thead >
					<tr>
						<th scope="col" style="width: 54px;">Id</th>
						<th scope="col">Libelle</th>
						<th scope="col">Description</th>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Statut d'operation</th>
						<th scope="col" style="width: 90px;">Actions</th>
					</tr>
				</thead>
				<tbody>
                {% for operation in operations|filter(operation => operation.statutOperation == 'En cours') %}

					<tr class="align-middle">
						<td scope="row">#{{ operation.id }}</td>
                        <td>{{ operation.libelle }}</td>
						<td>{{ operation.description }}</td>                            
                        <td>{{ operation.utilisateur }}</td>
                        <td>{{ operation.statutOperation }}</td>
						<td class="d-flex flex-row justify-content-evenly w-100">
                            <a href="{{ path('operation_show', {'id': operation.id}) }}"><i class="bi bi-eye"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('operation_edit', {'id': operation.id}) }}"><i class="bi bi-pen"></i></a>
                            {% endif %}
                        </td>
					</tr>
                {% else %}
                <tr>
                    <td colspan="6">Pas d'opération en cours</td>
                </tr>
                {% endfor %}
                
				</tbody>
			</table>
		</div>
	</div>

    <div class="d-flex flex-column w-100 mb-5">
		<h5 class="fw-normal mb-3">
			Liste des Opérations terminées
		</h5>
		<div class="table-responsive rounded-custom bg-white shadow-custom text-center">
			<table class="table table-hover table-borderless text-dark">
				<thead >
					<tr>
						<th scope="col" style="width: 54px;">Id</th>
						<th scope="col">Libelle</th>
						<th scope="col">Description</th>
                        <th scope="col">Utilisateurs</th>
                        <th scope="col">Statut d'operation</th>
						<th scope="col" style="width: 90px;">Actions</th>
					</tr>
				</thead>
				<tbody>
                {% for operation in operations|filter(operation => operation.statutOperation == 'Terminée') %}
                        <tr class="align-middle">
                            <td scope="row">#{{ operation.id }}</td>
                            <td>{{ operation.libelle }}</td>
                            <td>{{ operation.description }}</td>                            
                            <td>{{ operation.utilisateur }}</td>
                            <td>{{ operation.statutOperation }}</td>
                            <td class="d-flex flex-row justify-content-evenly w-100">
                                <a href="{{ path('operation_show', {'id': operation.id}) }}"><i class="bi bi-eye"></i></a>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('operation_edit', {'id': operation.id}) }}"><i class="bi bi-pen"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                {% else %}
                <tr>
                    <td colspan="6">Pas d'opération terminée</td>
                </tr>

                {% endfor %}
				</tbody>
			</table>
		</div>
	</div>
    
{% endblock %}
