{% extends 'base.html.twig' %}

{% block title %}Operation index{% endblock %}

{% block body %}
    <h1>Operation index</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle me-2 text-success"></i>
            <div class="text-success">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger d-flex align-items-center" role="alert">
            <i class="bi bi-check-circle me-2 text-danger"></i>
            <div class="text-danger">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.id }}</td>
                <td>{{ operation.libelle }}</td>
                <td>{{ operation.description }}</td>
                <td>
                    <a href="{{ path('operation_show', {'id': operation.id}) }}">show</a>
                    

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('operation_edit', {'id': operation.id}) }}">edit</a>
                    {% endif %}
                   
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('operation_new') }}">Create new</a>
    {% endif %}
    
{% endblock %}
