{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <div class="d-flex flex-column w-100 mb-5">
		<h5 class="fw-normal mb-3">
			Client index
		</h5>
		<div class="table-responsive rounded-custom bg-white shadow-custom text-center">
			<table class="table table-hover table-borderless text-dark">
				<thead >
					<tr>
						<th scope="col" style="width: 54px;">Id</th>
						<th scope="col" style="width: 90px;">Photo</th>
						<th scope="col">Nom</th>
						<th scope="col">Prénom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">Adresse</th>
						<th scope="col">Mail</th>
						<th scope="col" style="width: 90px;">Actions</th>
					</tr>
				</thead>
				<tbody>
				{% for client in clients %}
					<tr class="align-middle">
						<td scope="row">#{{ client.id }}</td>
						<td><img src="https://avatars.dicebear.com/api/identicon/Johnson.Arthur.svg" height="32" width="32" alt="..." class="border border-secondary border-2 rounded-2 bg-light"></td>
						<td>{{ client.nom }}</td>
						<td>{{ client.prenom }}</td>
						<td>{{ client.telephone }}</td>
						<td>{{ client.adresse }}</td>
						<td>{{ client.mail }}</td>
						<td class="d-flex flex-row justify-content-evenly w-100">
							<button onclick="window.location.href='{{ path('client_edit', {'id': client.id}) }}';" class="btn nimi-btn bg-info p-1 rounded-custom text-info bg-opacity-10">
								<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
									<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"/>
								</svg>
							</button>
							{{ include('client/_delete_form.html.twig', {'_url': 'accueil'}) }}
						</td>
					</tr>
					<!-- Modal modif-->
	<div class="modal fade" id="clientModif_{{client.id}}" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content border-0">
			<div class="modal-header d-flex flex-row justify-content-between align-items-start">
				<div class="d-flex flex-column">
					<h5 class="modal-title text-secondary" id="staticBackdropLabel">Modification</h5>
				</div>
				<div class="d-flex flex-row align-items-start h-100">
					<button type="button" class="btn-close" id="example" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right"></button>
				</div>
				
			</div>
			<div class="modal-body d-flex flex-column ">
				<h5>Details</h5>
				{# {{ include('client/_formEdit.html.twig', {'button_label': 'Modifier'}) }} #}
				{# {{ include('client/new.html.twig') }} #}
			</div>
			</div>
		</div>
		</div>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!-- Button trigger modal -->
<button type="button" class="btn btn-success text-white" data-bs-toggle="modal" data-bs-target="#clientAjout">
	Create new
</button>
  

	   <!-- Modal ajout-->
   <div class="modal fade" id="clientAjout" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content border-0">
		<div class="modal-header d-flex flex-row justify-content-between align-items-start">
			<div class="d-flex flex-column">
				<h5 class="modal-title text-secondary" id="staticBackdropLabel">Création d'un nouveau client</h5>
			</div>
			<div class="d-flex flex-row align-items-start h-100">
				<button type="button" class="btn-close" id="example" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right"></button>
			</div>
			
		</div>
		<div class="modal-body d-flex flex-column ">
			<h5>Details</h5>
			{{ include('client/_form.html.twig', {'button_label': 'Créer'}) }}
		</div>
		</div>
	</div>
	</div>

	
{% endblock %}
