<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <style>
        html {
            background: linear-gradient(0deg, rgba(32, 212, 137, 0.75), rgba(32, 212, 137, 0.75)), url({{ asset('build/images/BaseBackground.png') }});
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
        body {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            position: relative;
            font-family: Roboto;
            background: none;
        }

        #baseSidebarDiv {
            background: none;
            height: 100%;
            flex: 1;
        }

        #baseBodyDiv {
            background-color: #F5F8FA; 
            height: 100%;
            flex: 3;
        }

        #navbar {
            /* Auto Layout */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0px 40px;

            width: 100%;
            height: 92px;

            /* lightGray */
            background: #F5F8FA;
            background-color: red;
        }
        #navbar > div {
            background-color: green;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            width: 100%;
            text-align: center;
            height: 100%;
        }
        #navbar > div > p {
            margin: 0;
        }
        #navbar > div > img {
            border: 2px solid #20D489;
            box-sizing: border-box;
            border-radius: 5px; 
            margin-left: 10px;
        }
        #container {
            /* Auto Layout */
            display: flex;
            flex-direction: column;
            align-items: left;
            padding: 40px;

            height: auto;

            /* lightGray */
            background: #F5F8FA;
        }
        </style>
    </head>
    <body >
    <div id="baseSidebarDiv">
    </div>
    <div id="baseBodyDiv">
        <div id="navbar" class="sticky-top">
            {% block search %}{% endblock %}
            <div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <p>{{ app.user.nom }}.{{ app.user.prenom}}</p>
                    <img src="https://avatars.dicebear.com/api/identicon/{{ app.user.nom }}-{{ app.user.prenom }}.svg" height="32" width="32" alt="...">
                {% endif %}
            </div>
        </div>
        <div id="container">
            {% block body %}{% endblock %}
        </div>
    </div>
        
    </body>
</html>
