<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		<style>
			html {
				background: linear-gradient(0deg, rgba(32, 212, 137, 0.75), rgba(32, 212, 137, 0.75)), url({{ asset('build/images/BaseBackground.png') }});
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
				background-size : cover;
				margin: 0;
				padding: 0;
				height: 100%;
			}
			body {
				/* min-height: 100%; */
				height: 100%;
				display: flex;
				font-family: Roboto;
				background: none;
				overflow: hidden;
				/* display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 0px;
            position: relative;
            font-family: Roboto;
            background: none;*/
			}

			p {
				margin: 0;
			}
			#baseSidebar {
				min-width: 308px;
			}
			#baseSidebarHeader {
				/*display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px;
            align-self: stretch;
            height: 92px;*/
			}
			#baseSidebarHeader > h3 {

				/* font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;

            color: #FFFFFF;*/
			}
			#baseSidebarBody {
				/*display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;
            align-self: stretch;
            height: 100%;*/
			}

			#baseBody {
				width: 100%;
				height: auto;
			}
			#navbar {
				height: 92px

			}

			#container {
				height: 100%;
				overflow: auto;
			}
			/*  #baseBodyDiv {
            background-color: #F5F8FA; 
            height: 100%;
            flex: 3;
        	}

        
			#navbar > div {
				display: flex;
				flex-direction: row;
				justify-content: end;
				align-items: center;
				width: 100%;
				text-align: center;
				height: 100%;
			}
			#navbar > div > p {
				margin: 0;
			}
			#navbar > div > img {
				border: 2px solid #20D489;
				box-sizing: border-box;
				border-radius: 5px; 
				margin-left: 10px;
			}
			#container {
				display: flex;
				flex-direction: column;
				align-items: left;
				padding: 40px;

				height: auto;

				background: #F5F8FA;
			}*/
			.shadow-custom {
				box-shadow: 0px 2px 28px rgba(58, 59, 69, 0.01);
			}
			.shadow-modal {
				box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
			}
			.modal-size-custom {
				max-width: 1000px;
			}
			.rounded-custom {
				border-radius: 10px;
			}
			.modal-backdrop.show {
				opacity: .2;
			}
			input {
                    height: 46px;
                }
			.nimi-btn {
				width:35px; 
				height:35px
			}
		</style>
	</head>
	<body class="text-dark">
		<div id="baseSidebar" class="d-flex flex-column align-items-center p-3">
			<div id="baseSidebarHeader" class="mb-3">
				<a href="/accueil" class="text-decoration-none text-dark fs-3 fw-bold">
					Projet Propar.
				</a>
			</div>
			<div id="baseSidebarBody" class="w-100">
			<a href="/accueil" class="text-decoration-none text-white bg-light bg-opacity-25 rounded-3 p-2 d-block fs-6 fw-bold mb-3">{% if is_granted('ROLE_EXPERT') %}<i class="bi bi-graph-up mx-2"></i>Statistique{% else %}<i class="bi bi-house mx-2"></i>Accueil{% endif %}</a>
			{% if is_granted('ROLE_EXPERT') %}
			<a href="/client" class="text-decoration-none text-white bg-light bg-opacity-25 rounded-3 p-2 d-block fs-6 fw-bold mb-3"><i class="bi bi-people mx-2"></i>Client</a>
			{% endif %}
			<a href="/operation" class="text-decoration-none text-white bg-light bg-opacity-25 rounded-3 p-2 d-block fs-6 fw-bold"><i class="bi bi-calculator mx-2"></i>Opération</a>
			</div>
		</div>
		<div id="baseBody" class="bg-light d-flex flex-column">

			<div id="navbar" class="d-flex flex-row align-items-center justify-content-between sticky-top px-5 bg-light"> 
				<div>
					{% block search %}{% endblock %}
				</div>
				<div class="d-flex flex-row align-items-center">
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
						<p class="text-black-50">{{ app.user.nom }}
							{{ app.user.prenom }}</p>
						<img src="https://avatars.dicebear.com/api/identicon/{{ app.user.nom }}.{{ app.user.prenom }}.svg" height="32" width="32" alt="..." class="border border-secondary border-2 rounded-2 bg-white mx-3">
					<a href="/logout" class="text-decoration-none text-black-50">
						Déconnexion
					</a>
					{% endif %}
				</div>
			</div>

			<div id="container" class="d-flex flex-column p-5 bg-light"> 
				{% block body %}{% endblock %}
			</div>
		</div>
		
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		
	</body>
</html>